<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/acl-mgr">Access Control List Manager <%= AccessControl::VERSION %></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a href="<%= AccessControl.configuration.acl_exit_path || Rails.application.routes.url_helpers.acl_exit_path || Rails.application.routes.root_path %>">
                        <i class="fa fa-power-off fa-fw"></i>
                        Back to User Dashboard
                    </a>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <%= render '/access_control/shared/sidebar' %>
        </nav>